
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Inversione contabile / Inversione contabile</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify">Module to handle reverse charge IVA in vendor bills.
<p align="justify">
The module allows you to automate the accounting entries derived from invoices of intra-EU and extra-EU suppliers through the VAT reverse charge.
Furthermore, the vendor bill cancellation and reopening procedure is automated.
</p><p align="justify">
It is also possible to use the "additional vendor self billing" mode.
This mode is typically used for non-EU suppliers to show, in the purchases VAT journal, a vendor bill addressed to your own company (self-bill).
The self-bill will then be completely reconciled with the self-invoice, which is also addressed to your own company.
</p></p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify">Inversione contabile
<p align="justify">
Modulo per gestire l'inversione contabile (reverse charge) nelle fatture fornitore.
</p><p align="justify">
Il modulo permette di automatizzare le registrazioni contabili derivate dalle fatture fornitori intra UE ed extra UE mediante l'inversione contabile IVA.
Inoltre &#232; automatizzata la procedura di annullamento e riapertura della fattura fornitore.
</p><p align="justify">
&#200; inoltre possibile utilizzare la modalit&#224; "con autofattura fornitore aggiuntiva".
Questa modalit&#224; &#232; usata tipicamente per i fornitori extra UE per mostrare, nel registro IVA acquisti, una fattura intestata alla propria azienda (autofattura passiva).
L'autofattura passiva verr&#224; poi totalmente riconciliata con l'autofattura attiva, anch'essa intestata alla propria azienda.
</p></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">Usage / Utilizzo</h3>
        <div class="oe_span12">
Creare l'imposta <b>22% intra UE</b> - Vendite:
<p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/l10n-italy/12.0/l10n_it_reverse_charge/static/description/tax_22_v_i_ue.png
   :alt: 22% intra UE - Vendite
   :width: 600 px
<p align="justify">
Creare l'imposta <b>22% intra UE</b> - Acquisti:
</p><p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/l10n-italy/12.0/l10n_it_reverse_charge/static/description/tax_22_a_i_ue.png
  :alt: 22% intra UE - Acquisti
  :width: 600 px
<p align="justify">
Creare l'imposta <b>22% extra UE</b> - Vendite:
</p><p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/l10n-italy/12.0/l10n_it_reverse_charge/static/description/tax_22_v_e_ue.png
   :alt: 22% extra UE - Vendite
   :width: 600 px
<p align="justify">
Creare l'imposta <b>22% extra UE</b> - Acquisti:
</p><p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/l10n-italy/12.0/l10n_it_reverse_charge/static/description/tax_22_a_e_ue.png
  :alt: 22% extra UE - Acquisti
  :width: 600 px
<p align="justify">
Creare il conto 'Transitorio autofatturazione':
</p><p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/l10n-italy/12.0/l10n_it_reverse_charge/static/description/temp_account_auto_inv.png
  :alt: conto transitorio Autofattura
  :width: 600 px
<p align="justify">
Il 'Registro pagamento autofattura' deve essere configurato con il conto 'Transitorio autofatturazione' appena creato:
</p><p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/l10n-italy/12.0/l10n_it_reverse_charge/static/description/registro_riconciliazione.png
  :alt: Registro pagamento autofattura
  :width: 600 px
<p align="justify">
Modificare il tipo inversione contabile <b>Intra-UE (autofattura)</b>:
</p><p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/l10n-italy/12.0/l10n_it_reverse_charge/static/description/rc_selfinvoice.png
  :alt: inversione contabile con Autofattura
  :width: 600 px
<p align="justify">
Il registro autofattura deve essere di tipo 'Vendita'.
</p><p align="justify">
Modificare il tipo inversione contabile <b>Extra-UE (autofattura)</b>:
</p><p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/l10n-italy/12.0/l10n_it_reverse_charge/static/description/rc_selfinvoice_extra.png
  :alt: inversione contabile con Autofattura
  :width: 600 px
<p align="justify">
Il 'Registro autofattura passiva' deve essere di tipo 'Acquisto'.
</p><p align="justify">
</p><p align="justify">
Nella posizione fiscale, impostare il tipo inversione contabile:
</p><p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/l10n-italy/12.0/l10n_it_reverse_charge/static/description/fiscal_pos_intra.png
  :alt: Impostazione posizioni fiscali Intra CEE
  :width: 600 px
<p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/l10n-italy/12.0/l10n_it_reverse_charge/static/description/fiscal_pos_extra.png
  :alt: Impostazione posizioni fiscali Extra CEE
  :width: 600 px
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">History / Cronologia</h3>
        <div class="oe_span12">
<h3>12.0.1.2.7 (2021-03-18)</h3>
<p align="justify">
[FIX] Error when payment invoice: function invoice_validate @multi
</p><p align="justify">
</p><p align="justify">
<h3>12.0.1.2.6 (2021-02-17)</h3>
</p><p align="justify">
[REF] Clone OCA module
[FIX] Mixed RC and ordinary VAT line in single vendor bill
[FIX] Self invoice account move lines
</p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li><a href="https://www.zeroincombenze.it/">SHS-AV s.r.l.</a></li>
<li><a href="http://www.didotech.com/">Didotech srl</a></li>
<li><a href="https://www.powerp.it/">powERP</a></li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Antonio Maria Vigliotti &lt;antoniomaria.vigliotti@gmail.com&gt;</li>
<li>Marco Tosato &lt;marco.tosato@didotech.com&gt;</li>
<li>Fabio Giovannelli &lt;fabio.giovannelli@didotech.com&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Maintainer:</p>
            <p class="oe_mt16">This module is maintained by the <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> is the Italian Enterprises Network born in 2020, whose mission is promote use of Odoo to cover Italian enhanced accounting.</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Manutenzione:</p>
            <p class="oe_mt16">Questo modulo &#232; aggiornato da <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> &#232; una rete di imprese, nata nel 2020 che rilascia moduli per la contabilit&#224; italiana evoluta.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt16">Founders are / I soci fondatori sono:</p>
            <ul>
                <li><a href="http://www.didotech.com/">Didotech s.r.l.</a></li>
                <li><a href="https://www.shs-av.com/">SHS-AV s.r.l.</a></li>
                <li><a href="http://x-plain.it/">Xplain s.r.l.</a></li>
            </ul>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of accounting project.</p>
    </div>
</section>
