
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Create a menu for Account Fiscal Year / Anno fiscale</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify">This module extends date.range.type to add fiscal_year flag.
<p align="justify">
Override official res_company.compute_fiscal_year_dates to get the
fiscal year date start / date end for any given date.
That methods first looks for a date range of type fiscal year that
encloses the give date.
If it does not find it, it falls back on the standard Odoo
technique based on the day/month of end of fiscal year.
</p></p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify">Anno fiscale
<p align="justify">
Estensione dell'intervallo date per gestire gli anni fiscali.
</p></p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li><a href="https://odoo-community.org/">Odoo Community Association (OCA)</a></li>
<li><a href="http://www.camptocamp.com/">Camptocamp SA</a></li>
<li><a href="http://acsone.eu/">ACSONE SA/NV</a></li>
<li><a href="https://www.zeroincombenze.it/">SHS-AV s.r.l.</a></li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Damien Crier &lt;damien.crier@camptocamp.com&gt;</li>
<li>Laurent Mignon &lt;laurent.mignon@acsone.eu&gt;</li>
<li>Lorenzo Battistini &lt;lorenzo.battistini@agilebg.com&gt;</li>
<li>Antonio M. Vigliotti &lt;info@shs-av.com&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of account-financial-tools project.</p>
    </div>
</section>
