
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Manage all kind of date range / Impostazione intervallo date</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify">This module lets you define global date ranges that can be used to filter
your values in tree views.</p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify">Impostazione intervallo date
<p align="justify">
Questo modulo permette di definire intervalli di date.
</p></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">Usage / Utilizzo</h3>
        <div class="oe_span12">
<h1>Usage / Uso</h1>
<p align="justify">
<img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/awesome/menu.png"/> Settings &gt; Technical &gt; Date ranges &gt; Date Range Types where
  you can create types of date ranges.
</p><p align="justify">
</p>
<img src="date_range_type_create.png"/>
<p align="justify">
<img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/awesome/menu.png"/> Technical &gt; Date ranges &gt;  Date Ranges where
  you can create date ranges.
</p><p align="justify">
</p>
<img src="date_range_create.png"/>
<p align="justify">
 It's also possible to launch a wizard from the 'Generate Date Ranges' menu.
</p><p align="justify">
</p>
<img src="date_range_wizard.png"/>
<p align="justify">
The wizard is useful to generate recurring periods.
</p><p align="justify">
</p>
<img src="date_range_wizard_result.png"/>
<p align="justify">
Your date ranges are now available in the search filter for any date or datetime fields
</p><p align="justify">
Date range types are proposed as a filter operator
</p><p align="justify">
</p>
<img src="https://raw.githubusercontent.com/OCA/server-tools/10.0/date_range/static/description/date_range_type_as_filter.png"/>
<p align="justify">
Once a type is selected, date ranges of this type are porposed as a filter value
</p><p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/server-tools/10.0/date_range/static/description/date_range_as_filter.png
    :alt: Date range as filter value
<p align="justify">
And the dates specified into the date range are used to filter your result.
</p><p align="justify">
</p>
.. figure:: https://raw.githubusercontent.com/OCA/server-tools/10.0/date_range/static/description/date_range_as_filter_result.png
   :alt: Date range as filter result
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li>Acsone SA/NV &lt;https://acsone.eu/&gt;</li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Laurent Mignon &lt;laurent.mignon@acsone.eu&gt;</li>
<li>Alexis de Lattre &lt;alexis.delattre@akretion.com&gt;</li>
<li>Miquel Ra&#239;ch &lt;miquel.raich@eficent.com&gt;</li>
<li>Andrea Stirpe &lt;a.stirpe@onestein.nl&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of server-ux project.</p>
    </div>
</section>
