
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Due dates management / Gestione evoluta delle scadenze</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify">Manage enhanced due dates</p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify">Gestione evoluta delle scadenze</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">History / Cronologia</h3>
        <div class="oe_span12">
<h3>12.0.3.3.8 (2021-05-04)</h3>
<p align="justify">
<ul>
<li>[IMP] Impostato cron che aggiorna i periodi dedicati all'esclusione delle scadenze</li>
</ul>
</p><p align="justify">
<h3>12.0.3.3.7 (2021-05-04)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Corretto bug nel metodo che verifica l'intervallo delle esclusioni</li>
</ul>
</p><p align="justify">
<h3>12.0.3.3.6 (2021-04-29)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Gestito loop in tutti i multi</li>
</ul>
</p><p align="justify">
<h3>12.0.3.3.5 (2021-04-23)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Impostato e gestito gli intervalli dei giorni di esclusione</li>
</ul>
</p><p align="justify">
<h3>12.0.3.3.4 (2021-04-20)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Tolto la possibilit&#224; di andare a capo per il campo Conto</li>
</ul>
</p><p align="justify">
<h3>12.0.3.3.3 (2021-04-19)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Rinominato la colonna 'Saldo' in 'Importo'</li>
</ul>
</p><p align="justify">
<h3>12.0.3.3.2 (2021-04-15)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Integrazione delle modifiche fatte in 12.0.3.2.1_hot</li>
</ul>
</p><p align="justify">
<h3>12.0.3.2.2 (2021-04-06)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Aggiornamento campi nell'elenco di Pagamenti e scadenze</li>
</ul>
</p><p align="justify">
<h3>12.0.3.2.1_hot (2021-04-15)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Errore in write (mass editing data decorrenza fatture)</li>
</ul>
</p><p align="justify">
<h3>12.0.3.2.1 (2021-03-30)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Errore in onchange</li>
</ul>
</p><p align="justify">
<h3>12.0.2.1.43 (2021-02-18)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Riconoscimento riga contabile da funzione di account_move_line_type</li>
<li>[FIX] Errore in validazione fattura con Reverse Charge misto</li>
</ul>
</p><p align="justify">
<h3>12.0.2.1.42 (2021-02-11)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Tolto onchange su data scadenza</li>
<li>[FIX] Errore in annulla fattura con Reverse Charge</li>
<li>[FIX] check_payment gestito con @multi causa error mass editing</li>
</ul>
</p><p align="justify">
<h3>12.0.2.1.41 (2021-01-15)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Corretto bug sulla gestione del metodo di pagamento</li>
</ul>
</p><p align="justify">
<h3>12.0.2.1.40 (2021-01-08)</h3>
</p><p align="justify">
<ul>
<li>[MOD] Spostati campi "prorogation_ctr" e "unpaid_ctr" di account.move.line da modulo account_banking_invoice_financing a account_duedates</li>
</ul>
</p><p align="justify">
<h3>12.0.1.1.39 (2021-01-07)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Added payment done field / Impostato campo incasso effettuato</li>
</ul>
</p><p align="justify">
<h3>12.0.1.1.38 (2020-12-30)</h3>
</p><p align="justify">
<ul>
<li>[MOD] Added convenience field to retrieve the related payment order lines</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.37 (2020-12-14)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Added filter 'not in order' and state field / Impostato filtro 'Non in scadenza' e campo stato</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.36 (2020-12-11)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Warning on check duedate payments / Segnalazione al tentativo di annullamento con scadenze in pagamento</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.35 (2020-12-11)</h3>
</p><p align="justify">
<ul>
<li>[REF] Refactoring date effective / Aggiornato gestione data decorrenza</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.34 (2020-12-04)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Set vat on first duedate according to payment term flag / Impostato gestione iva sulla prima scadenza</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.33 (2020-12-02)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Rimossa creazione righe scadenze se almeno una in pagamento</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.32 (2020-11-30)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Rimossa creazione righe scadenze se almeno una in pagamento</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.31 (2020-11-23)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Set duedates creation from sale order / Impostato creazione scadenze da ordine di vendita</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.30 (2020-11-23)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Set account invoice 13 more dependency / Inserita dipendenza modulo transizione</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.29 (2020-11-18)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Set default date effective / Impostato default data decorrenza</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.28 (2020-11-17)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Added missing dependency / inserita dipendenza mancante</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.27 (2020-11-12)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Added date effective / inserita data di decorrenza</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.26 (2020-11-09)</h3>
</p><p align="justify">
<ul>
<li>[IMP] impostato ricerca per ordine di pagamento</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.25 (2020-11-06)</h3>
</p><p align="justify">
<ul>
<li>[FIX] impostato campo ordine di pagamento nella view</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.24 (2020-11-02)</h3>
</p><p align="justify">
<ul>
<li>[FIX] gestito validazione fattura da ordine di vendita</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.24 (2020-11-02)</h3>
</p><p align="justify">
<ul>
<li>[FIX] corretto calcolo ammontare fattura in account.move</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.23 (2020-11-02)</h3>
</p><p align="justify">
<ul>
<li>[FIX] gestione cancellazione ultima scadenza rimasta (mette una nuova riga di scadenza e una nuova riga contabile con scadenza parti alla data fattura e importo pari all'imposto dattura)</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.22 (2020-11-02)</h3>
</p><p align="justify">
<ul>
<li>[FIX] corretta gestione scadenze per fatture in stato bozza</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.21 (2020-10-28)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Update model, removed unused fields</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.18 (2020-10-23)</h3>
</p><p align="justify">
<ul>
<li>[MOD] Correzioni di forma la codice per adeguamento a segnalazioni Flake8</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.17 (2020-10-22)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Eliminazione righe di scadenza vuote, calcolo proposta per importo scadenze dopo modifica fattura, ricalcolo automaticp scadenze al cambio dei termini di pagamento</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.16 (2020-10-21)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Implementato totalizzazione totale scadenze e differenza tra scadenze e totale fattura</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.15 (2020-10-15)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Aggiornato duedate manager</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.14 (2020-10-14)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Rimosso campo duplicato (termine di pagamento)</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.13 (2020-10-12)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Aggiornamento bidirezionale di data scadenza e metodo di pagamento tra account.move.line e account.duedate_plus.line</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.12 (2020-10-12)</h3>
<ul>
<li>[FIX] Inserita dipendenza modulo OCA Scadenziario account_due_list</li>
</ul>
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.1.11 (2020-10-12)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Rimossi controlli non validi</li>
</ul>
</p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li><a href="https://www.powerp.it/">powERP</a></li>
<li><a href="https://www.zeroincombenze.it/">SHS-AV s.r.l.</a></li>
<li><a href="https://www.didotech.com/">Didotech srl</a></li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Antonio Maria Vigliotti &lt;antoniomaria.vigliotti@gmail.com&gt;</li>
<li>Marco Tosato &lt;marco.tosato@didotech.com&gt;</li>
<li>Fabio Giovannelli &lt;fabio.giovannelli@didotech.com&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Maintainer:</p>
            <p class="oe_mt16">This module is maintained by the <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> is the Italian Enterprises Network born in 2020, whose mission is promote use of Odoo to cover Italian enhanced accounting.</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Manutenzione:</p>
            <p class="oe_mt16">Questo modulo &#232; aggiornato da <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> &#232; una rete di imprese, nata nel 2020 che rilascia moduli per la contabilit&#224; italiana evoluta.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt16">Founders are / I soci fondatori sono:</p>
            <ul>
                <li><a href="http://www.didotech.com/">Didotech s.r.l.</a></li>
                <li><a href="https://www.shs-av.com/">SHS-AV s.r.l.</a></li>
                <li><a href="http://x-plain.it/">Xplain s.r.l.</a></li>
            </ul>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of accounting project.</p>
    </div>
</section>
