
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Chart Of Account Hierarchy, like Odoo prior 10.0 / Piano dei conti multi-livello</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify">This module enables the Chart of Account Hierarchy, like in previous Odoo version before 10.0.
You can manage 3 levels of hierarchy, setting number of characters of every level.
<p align="justify">
In the top level of Chart of Account you can declare the nature of the record, which may be:
</p><p align="justify">
<ul>
<li>Asset</li>
<li>Liability</li>
<li>Revenue</li>
<li>Expense</li>
<li>Loss &amp; Profit</li>
</ul>
</p><p align="justify">
to manage classical balance sheets.
</p><p align="justify">
This module enable the account type menu that is hidden in Odoo standard.
</p></p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify">Piano dei conti multi-livello
<p align="justify">
Gestione della gerachia del piano dei conti, come in Odoo prima della 10.0
Il sistema permette la gestione di 3 livelli di conto, per ciascun livello &#232; possibile definire la lunghezza in caratteri.
</p><p align="justify">
A livello pi&#249; alto &#232; possibile definire la natura del conto che pu&#242; esssere:
</p><p align="justify">
<ul>
<li>Attivo</li>
<li>Passivo</li>
<li>Ricavi</li>
<li>Costi</li>
<li>Conti d'ordine</li>
</ul>
</p><p align="justify">
per permettere di gestire il classico bilancio fiscale.
</p><p align="justify">
Questo modulo abilita il men&#224; del tipo di conto che &#232; normalmente nascosto in Odoo standard.
</p></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">Features / Caratteristiche</h3>
        <div class="oe_span12">
<table style="width:100%; padding:2px; border-spacing:2px; text-align:left;"><tr>
<td>Feature / Caratteristica</td><td>Value / Valore</td>
</tr><tr>
<td>Multilevel CoA / Piano dei Conti multilivello</td><td><img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/awesome/check.png"/></td>
</tr><tr>
<td>Nature / Natura del conto</td><td><img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/awesome/check.png"/></td>
</tr><tr>
<td>Editing code with dot / Codice conto con punti</td><td><img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/awesome/check.png"/></td>
</tr><tr>
<td>Account Profile / Gestione profilo contabile</td><td><img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/awesome/check.png"/></td>
</tr><tr>
<td>Coa Code segment / Segmentazion codice PdC</td><td>3 levels / 3 livelli</td>
</tr><tr>
<td>Check account type and nature / Controllo tipo e natura conto</td><td><img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/awesome/check.png"/></td>
</tr><tr>
<td>Automatic parent code / Conto padre automatico</td><td><img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/awesome/check.png"/></td>
</tr></table>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">History / Cronologia</h3>
        <div class="oe_span12">
<h3>12.0.0.1.19 (2021-02-14)</h3>
<p align="justify">
<ul>
<li>[FIX] Singleton error in mass editing / Errore singleton in mass editing</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.18 (2020-12-15)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Added context check / Inserito flag per importazione</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.17 (2020-10-20)</h3>
</p><p align="justify">
<ul>
<li>[FIX] flake8 elevated level / Aggiornato controllo sintattico</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.16 (2020-09-04)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Filtered prepayments / Applicato filtro su risconti attivi</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.15 (2020-08-31)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Disabled change of profile on zero code flag  / Rimossa la possibilit&#224; di modificare il flag 'Codici a zero' se alimentato il piano dei conti</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.14 (2020-08-03)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Remove create from change of profile  / Rimossa la possibilit&#224; di creare nuovi profili dalla selezione</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.13 (2020-07-30)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Prevent change of profile / Segnalazione in caso di cambio profilo</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.12 (2020-07-17)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Duplicate company warning / Segnalazione in caso di duplicazione profilo</li>
<li>[IMP] Memorandum account type / Tipo conto d'ordine</li>
</ul>
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.1.2 (2020-04-01)</h3>
</p><p align="justify">
<ul>
<li>[REF] Checks refactored / Riprogettati i controlli</li>
<li>[IMP] Flag account with zero / Possibile inserire conti con zero (personalizzabile)</li>
<li>[FIX] Check work on existent CoA / I controlli funzionano anche con un PdC gi&#224; installato</li>
<li>[IMP] Nature in Coa list / Campo natura in lista PdC</li>
</ul>
</p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li><a href="https://www.powerp.it/">powERP</a></li>
<li><a href="https://www.zeroincombenze.it/">SHS-AV s.r.l.</a></li>
<li><a href="https://www.didotech.com/">Didotech srl</a></li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Antonio Maria Vigliotti &lt;antoniomaria.vigliotti@gmail.com&gt;</li>
<li>Marco Tosato &lt;marco.tosato@didotech.com&gt;</li>
<li>Fabio Giovannelli &lt;fabio.giovannelli@didotech.com&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Maintainer:</p>
            <p class="oe_mt16">This module is maintained by the <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> is the Italian Enterprises Network born in 2020, whose mission is promote use of Odoo to cover Italian enhanced accounting.</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Manutenzione:</p>
            <p class="oe_mt16">Questo modulo &#232; aggiornato da <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> &#232; una rete di imprese, nata nel 2020 che rilascia moduli per la contabilit&#224; italiana evoluta.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt16">Founders are / I soci fondatori sono:</p>
            <ul>
                <li><a href="http://www.didotech.com/">Didotech s.r.l.</a></li>
                <li><a href="https://www.shs-av.com/">SHS-AV s.r.l.</a></li>
                <li><a href="http://x-plain.it/">Xplain s.r.l.</a></li>
            </ul>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of accounting project.</p>
    </div>
</section>
