
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Account banking invoice financing / Campi aggiuntivi contabili</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify"><h2>Account banking invoice financing / Campi aggiuntivi contabili</h2>
<p align="justify">
This module add some new fields in account.move.line
</p></p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify"><h2>Account banking invoice financing / Campi aggiuntivi contabili</h2>
<p align="justify">
Questo modulo aggiunge alcuni campi ai movimenti delle registrazioni di prima nota
</p></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">History / Cronologia</h3>
        <div class="oe_span12">
<h3>12.0.7.9.9 (2021-04-15)</h3>
<p align="justify">
<ul>
<li>[FIX] Corretto calcolo sui conti degli effetti</li>
</ul>
</p><p align="justify">
<h3>12.0.7.9.8 (2021-04-14)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Impostato castelletto nel registro e nel conto bancario</li>
<h3>12.0.7.9.7_fix (2021-04-19)</h3>
<p align="justify">
<ul>
<li>[FIX] Nascosto il campo 'Importo anticipato' nell'elenco delle Scadenze</li>
</ul>
</p><p align="justify">
<h3>12.0.7.9.7 (2021-03-31)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Compute massimale if invoice financing payment method only</li>
</ul>
</p><p align="justify">
<h3>12.0.6.8.6 (2021-02-19)</h3>
</p><p align="justify">
<ul>
<li>[FIX] account_payment_order.py", line 584</li>
</ul>
</p><p align="justify">
<h3>12.0.6.8.5 (2021-02-19)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Migliorato controlli su impostazioni conto corrente</li>
</ul>
</p><p align="justify">
<h3>12.0.6.8.4 (2021-02-19)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Raggruppari campi date e massimale/importo anticipato nell'ordine di debito di anticipo fatture</li>
</ul>
</p><p align="justify">
<h3>12.0.6.8.3 (2021-02-17)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Importo anticipato e date previsto incasso non modificabili dopo che la conferma dell'ordine</li>
</ul>
</p><p align="justify">
<h3>12.0.5.7.2 (2021-02-15)</h3>
</p><p align="justify">
<ul>
<li>[IMP] No riferimento a data bilancio</li>
</ul>
</p><p align="justify">
<h3>12.0.5.7.1 (2021-02-12)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Impostato calcolo massimale</li>
</ul>
</p><p align="justify">
<h3>12.0.5.6.1 (2021-02-11)</h3>
</p><p align="justify">
[IMP] Inserito campo massimale per anticipo fatture
</p><p align="justify">
<h3>12.0.5.5.23 (2021-02-10)</h3>
</p><p align="justify">
[IMP] Modificata descrizione metodo di pagamento
</p><p align="justify">
<h3>12.0.5.5.22 (2021-02-04)</h3>
</p><p align="justify">
[REF] Aggiornato registrazione di incasso
</p><p align="justify">
<h3>12.0.5.5.21 (2021-02-04)</h3>
</p><p align="justify">
[FIX] Inserita dipendenza da account_invoice_13_more
</p><p align="justify">
</p><p align="justify">
<h3>12.0.5.5.20 (2021-02-02)</h3>
</p><p align="justify">
[IMP] Possibilit&#224; di scegliere calcolo del massimale anticipo fatture su percentuale del totale o su percentuale imponibile
</p><p align="justify">
</p><p align="justify">
<h3>12.0.4.5.19 (2021-02-02)</h3>
</p><p align="justify">
[IMP] Refactoring
</p><p align="justify">
<h3>12.0.4.5.18 (2021-02-01)</h3>
</p><p align="justify">
[IMP] Impostato spese default
</p><p align="justify">
<h3>12.0.4.5.17 (2021-01-19)</h3>
</p><p align="justify">
[REF] Refactoring e test
</p><p align="justify">
<h3>12.0.4.4.16 (2021-01-19)</h3>
</p><p align="justify">
[REF] Refactoring
</p><p align="justify">
<h3>12.0.4.4.15 (2021-01-19)</h3>
</p><p align="justify">
[REF] Refactoring configurazione nel metodo accredito pagamenti
</p><p align="justify">
<h3>12.0.4.4.14 (2021-01-08)</h3>
</p><p align="justify">
[IMP] Implementato metodo accredito pagamenti
</p><p align="justify">
<h3>12.0.4.4.13 (2021-01-08)</h3>
</p><p align="justify">
[MOD] Spostati campi "prorogation_ctr" e "unpaid_ctr" di account.move.line da modulo account_banking_invoice_financing a account_duedates
</p><p align="justify">
<h3>12.0.3.3.12 (2021-01-07)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Impostato dipendenza al modulo account_duedates</li>
</ul>
</p><p align="justify">
<h3>12.0.2.1.7 (2020-12-21)</h3>
</p><p align="justify">
<ul>
<li>[IMP] aggiunti campi per gestione anticipi fatture in model e view di res.partner.bank</li>
<li>[IMP] aggiunti controlli presenza e validazione sui campi di data previsto incasso e ammontare </li>
<li>[MOD] modificati nomi campi e viste per riflettere modifica nome modulo</li>
</ul>
</p><p align="justify">
<h3>12.0.2.0.6 (2020-12-21)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Implementato report distinta scadenze</li>
</ul>
</p><p align="justify">
<h3>12.0.1.0.5 (2020-12-15)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Fix dependencies</li>
</ul>
</p><p align="justify">
<h3>12.0.1.0.4 (2020-12-15)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Fix dependencies</li>
</ul>
</p><p align="justify">
<h3>12.0.1.0.3 (2020-12-15)</h3>
</p><p align="justify">
<ul>
<li>[FIX] Fix flake8</li>
</ul>
</p><p align="justify">
<h3>12.0.1.0.2 (2020-12-15)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Impostazione campi distinta</li>
</ul>
</p><p align="justify">
<h3>12.0.1.0.1 (2020-12-15)</h3>
</p><p align="justify">
<ul>
<li>[IMP] Impostazione nuovi campi</li>
</ul>
</p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li><a href="https://www.powerp.it/">PowerP Enterprise Network</a></li>
<li><a href="https://www.zeroincombenze.it/">SHS-AV s.r.l.</a></li>
<li><a href="http://www.didotech.com/">Didotech srl</a></li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Antonio M. Vigliotti &lt;info@shs-av.com&gt;</li>
<li>Marco Tosato &lt;marco.tosato@didotech.com&gt;</li>
<li>Fabio Giovannelli &lt;fabio.giovannelli@didotech.com&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Maintainer:</p>
            <p class="oe_mt16">This module is maintained by the <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> is the Italian Enterprises Network born in 2020, whose mission is promote use of Odoo to cover Italian enhanced accounting.</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Manutenzione:</p>
            <p class="oe_mt16">Questo modulo &#232; aggiornato da <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> &#232; una rete di imprese, nata nel 2020 che rilascia moduli per la contabilit&#224; italiana evoluta.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt16">Founders are / I soci fondatori sono:</p>
            <ul>
                <li><a href="http://www.didotech.com/">Didotech s.r.l.</a></li>
                <li><a href="https://www.shs-av.com/">SHS-AV s.r.l.</a></li>
                <li><a href="http://x-plain.it/">Xplain s.r.l.</a></li>
            </ul>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of accounting project.</p>
    </div>
</section>
