
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Italy - Fiscal localization / Piano dei conti vuoto</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify"><h2>Italy - Fiscal localization / Piano dei conti vuoto</h2>
<p align="justify">
This module load an empty chart of account and empty tax codes
but it set journals and internal Odoo data.
</p><p align="justify">
Use this module when end user wants to insert the own chart of acount by itself.
</p><p align="justify">
Warning! Due Odoo structure following data are inserted:
</p><p align="justify">
<ul>
<li>Customer account, code CLI</li>
<li>Supplier account, code FOR</li>
<li>Revenue account, code RCV</li>
<li>Expense account, code CST</li>
<li>Bank account, code BCA</li>
<li>VAT account, code IVA</li>
<li>Tax code 22%</li>
</ul>
</p></p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify"><h2>Italy - Fiscal localization / Piano dei conti vuoto</h2>
<p align="justify">
Questo modulo carica un PdC e una tabella codici IVA vuoti
ma imposta i registri sezionali e i dati interni.
</p><p align="justify">
Usare questo modulo quando l'utente finale vuole caricare il Piando dei Conti da se.
</p><p align="justify">
Attenzione! A causa della struttura di Odoo sono inseriti i seguenti conti:
</p><p align="justify">
<ul>
<li>Clienti, codice CLI</li>
<li>Fornitori, codice FOR</li>
<li>Costo generico, codice CST</li>
<li>Ricavo generico, codice RCV</li>
<li>Banca, codice BCA</li>
<li>IVA, codice IVA</li>
<li>Codice IVA 22%</li>
</ul>
</p><p align="justify">
<h2>Italy - Fiscal localization / Piano dei conti vuoto</h2>
</p><p align="justify">
Il modulo &#232; una base per lo sviluppo di un Piano dei Conti personalizzato
del cliente.
Sostituire i codice dei conti e delle imposta con i valori corretti e aggiungere i dati mancanti.
Si consiglia di aggiungere anche le posizioni fiscali.
</p><p align="justify">
Significato dei codici:
</p><p align="justify">
<ul>
<li>CLI000 -&gt; il conto clienti; usato da Odoo come default in res.partner</li>
<li>FOR000 -&gt; il conto fornitori; usato da Odoo come default in res.partner</li>
<li>RCV000 -&gt; il conto di ricavo predefinito in fatturazione</li>
<li>CST000 -&gt; il conto di costo predefinito in fatturazione</li>
<li>IVA000 -&gt; Il conto IVA predefinito; potrebbero essere pi&#249; di uno</li>
<li>BCA000 -&gt; La radice dei coti bancari</li>
</ul>
</p><p align="justify">
Ricordardi di modificare i dati in tutti i 5 file nella directory ./data
</p></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">History / Cronologia</h3>
        <div class="oe_span12">
<h3>12.0.0.1.3 (2020-11-27)</h3>
<p align="justify">
<ul>
<li>[FIX] VAT code refactored to avoid conflicts in multi-company</li>
</ul>
</p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li><a href="https://www.zeroincombenze.it/">SHS-AV s.r.l.</a></li>
<li><a href="http://www.didotech.com/">Didotech srl</a></li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Antonio M. Vigliotti &lt;info@shs-av.com&gt;</li>
<li>Marco Tosato &lt;marco.tosato@didotech.com&gt;</li>
<li>Fabio Giovannelli &lt;fabio.giovannelli@didotech.com&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Maintainer:</p>
            <p class="oe_mt16">This module is maintained by the <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> is the Italian Enterprises Network born in 2020, whose mission is promote use of Odoo to cover Italian enhanced accounting.</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Manutenzione:</p>
            <p class="oe_mt16">Questo modulo &#232; aggiornato da <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> &#232; una rete di imprese, nata nel 2020 che rilascia moduli per la contabilit&#224; italiana evoluta.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt16">Founders are / I soci fondatori sono:</p>
            <ul>
                <li><a href="http://www.didotech.com/">Didotech s.r.l.</a></li>
                <li><a href="https://www.shs-av.com/">SHS-AV s.r.l.</a></li>
                <li><a href="http://x-plain.it/">Xplain s.r.l.</a></li>
            </ul>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of accounting project.</p>
    </div>
</section>
