
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Italy - Fiscal localization by Zeroincombenze(R) / Piano dei conti e Codici IVA</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify"><h2>Italy - Fiscal localization by Zeroincombenze(R) / Piano dei conti e Codici IVA</h2>
<p align="justify">
Very detailed Chart of Account, available to any Italian Company.
Tree structure may be expanded by end-user, adding new records.
</p><p align="justify">
Code has 6 digits; users should not add codes ending with '0'.
</p><p align="justify">
Tax codes cover most of variety italian fiscal cases:
</p><p align="justify">
<ul>
<li>Ordinary regime</li>
<li>Simplified regime</li>
<li>Cash VAT</li>
<li>Subjects without VAT</li>
</ul>
</p></p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify"><h2>Italy - Fiscal localization by Zeroincombenze(R) / Piano dei conti e Codici IVA</h2>
<p align="justify">
Piano dei conti molto dettagliato utilizzabile da qualsiasi impresa italiana.
La struttura pu&#242;  essere ulteriormente espansa dall'utente finale
con l'inserimento di nuovi record.
</p><p align="justify">
La codifica &#232; di 6 cifre;
l'utente finale non dovrebbe inserire codici terminanti con '0'.
</p><p align="justify">
</p><p align="justify">
I codici IVA coprono una grande variet&#224; di casistiche fiscali:
</p><p align="justify">
<ul>
<li>Regime Ordinario</li>
<li>Regime semplificato (contribuenti minimi L.244/07)</li>
<li>Regime IVA per cassa (L.185/08 e art.6 DPR633/72)</li>
<li>Operazioni senza IVA (L.98/11)</li>
</ul>
</p><p align="justify">
See http://www.zeroincombenze.it/il-piano-dei-conti-2/
</p></p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li><a href="https://www.zeroincombenze.it/">SHS-AV s.r.l.</a></li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Antonio M. Vigliotti &lt;info@shs-av.com&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of l10n-italy project.</p>
    </div>
</section>
