
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Adds rounding, months, weeks and multiple payment days properties on payment term lines / Modulo per la gestione dei giorni e delle settimane nei termini di pagamento</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify">Italian Localization</p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify">Modulo per la gestione dei giorni e delle settimane nei termini di pagamento</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">History / Cronologia</h3>
        <div class="oe_span12">
<h3>12.0.0.1.7 (2020-12-23)</h3>
<ul>
<li>[IMP] Added duedates simulator  / Inserito simulatore scadenze</li>
</ul>
<p align="justify">
<h3>12.0.0.1.6 (2020-12-04)</h3>
<ul>
<li>[IMP] Added field boolean for vat duedate  / Inserito campo flag per la gestione iva nella prima scadenza</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.5 (2020-12-04)</h3>
<ul>
<li>[REF] Refactoring compute  / Verifica calcolo scadenze</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.4 (2020-10-14)</h3>
<ul>
<li>[FIX] Checked all occurrences of inbound/outbound / Sostituite le occorrenze di inbound/outbound</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.3 (2020-10-13)</h3>
<ul>
<li>[REF] Update fields from inbound/outbound to credit/debit</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.2 (2020-10-07)</h3>
<ul>
<li>[REF] Refactoring "compute" method</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.1 (2020-09-23)</h3>
<ul>
<li>[IMP] Added fields inbound/outbound / Inserito metodo di pagamento in entrata ed in uscita</li>
</ul>
</p><p align="justify">
<h3>12.0.0.1.0 (2020-09-20)</h3>
<ul>
<li>[IMP] Module implementation / Implementazione modulo </li>
</ul>
</p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li><a href="https://www.zeroincombenze.it/">SHS-AV s.r.l.</a></li>
<li><a href="http://www.didotech.com/">Didotech srl</a></li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Antonio Maria Vigliotti &lt;antoniomaria.vigliotti@gmail.com&gt;</li>
<li>Marco Tosato &lt;marco.tosato@didotech.com&gt;</li>
<li>Fabio Giovannelli &lt;fabio.giovannelli@didotech.com&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Maintainer:</p>
            <p class="oe_mt16">This module is maintained by the <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> is the Italian Enterprises Network born in 2020, whose mission is promote use of Odoo to cover Italian enhanced accounting.</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Manutenzione:</p>
            <p class="oe_mt16">Questo modulo &#232; aggiornato da <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> &#232; una rete di imprese, nata nel 2020 che rilascia moduli per la contabilit&#224; italiana evoluta.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt16">Founders are / I soci fondatori sono:</p>
            <ul>
                <li><a href="http://www.didotech.com/">Didotech s.r.l.</a></li>
                <li><a href="https://www.shs-av.com/">SHS-AV s.r.l.</a></li>
                <li><a href="http://x-plain.it/">Xplain s.r.l.</a></li>
            </ul>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of accounting project.</p>
    </div>
</section>
