
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Acount balance / Bilancio fiscale e legale per le imprese italiane.</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify">This software makes available three different kind of balance sheet:
<p align="justify">
<ul>
<li>Trial balance</li>
<li>Fiscal balance</li>
<li>Opposite side balance</li>
</ul>
</p><p align="justify">
It designed for Italian enterprises but may be useful for other countries companies.
</p></p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify">Bilancio fiscale e legale per le imprese italiane.
<p align="justify">
Questo modulo permette di generare il bilancio fiscale di un'azienda secondo le normative italiane.
Sono disponibili 3 modelli di bilancio:
</p><p align="justify">
<ul>
<li>Bilancio di verifica</li>
<li>Bilancio ordinario</li>
<li>Bilancio a sezioni contrapposte</li>
</ul>
</p><p align="justify">
Sono forniti numerosi filtri di selezione e stampa che permettono di adattare il bilancio a tutte
le esigenze fiscale e gestionali di un'impresa italiana.
</p><p align="justify">
Il software permette anche di effettuare la proiezione dei ratei e dei risconti.
Per ottenere questa funzione &#232; necessario installare il modulo di registrazione date di competenze.
</p></p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li><a href="https://www.zeroincombenze.it/">SHS-AV s.r.l.</a></li>
<li><a href="http://www.didotech.com/">Didotech srl</a></li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Antonio Maria Vigliotti &lt;antoniomaria.vigliotti@gmail.com&gt;</li>
<li>Fabio Giovannelli &lt;fabio.giovannelli@didotech.com&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p>This module is maintained by the <b>SHS_AV s.r.l.</b>.</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of accounting project.</p>
    </div>
</section>
