
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Account Payment Order extension / Estensione del modulo OCA Payment order</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify">Payment order extension</p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify">Estensione del modulo OCA Payment order</p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li><a href="https://www.zeroincombenze.it/">SHS-AV s.r.l.</a></li>
<li><a href="http://www.didotech.com/">Didotech srl</a></li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Antonio Maria Vigliotti &lt;antoniomaria.vigliotti@gmail.com&gt;</li>
<li>Marco Tosato &lt;marco.tosato@didotech.com&gt;</li>
<li>Fabio Giovannelli &lt;fabio.giovannelli@didotech.com&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <p>This module is maintained by the <b>SHS_AV s.r.l.</b>.</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of accounting project.</p>
    </div>
</section>
