
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#162832;">Mastrini / Mastrini.</h2>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/en_US.png" alt="English"/>
            </p>
            <p class="oe_mt16" align="justify">Mastrini.</p>
        </div>
        <div class="oe_span6">
            <p align="center">
                <img src="https://raw.githubusercontent.com/zeroincombenze/grymb/master/flags/it_IT.png" alt="Italiano"/>
            </p>
            <p class="oe_mt16" align="justify">Mastrini.</p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#162832;">History / Cronologia</h3>
        <div class="oe_span12">
<h3>12.0.8.7.22 (2021-04-21)</h3>
<ul>
<li>[FIX] POW - 121: fix popup bloccante</li>
</ul>
<p align="justify">
<h3>12.0.8.7.21 (2020-12-07)</h3>
<ul>
<li>[FIX] POW - 220: aggiornato campo type</li>
</ul>
</p><p align="justify">
<h3>12.0.8.7.20 (2020-08-31)</h3>
<ul>
<li>[FIX] AXI - 138: gestito l'esercizio fiscale</li>
</ul>
</p><p align="justify">
<h3>12.0.8.6.20 (2020-08-31)</h3>
<ul>
<li>[FIX] AXI-6/AXI-31: corretta gestione del riepilogo IVA per le note di credito</li>
</ul>
</p><p align="justify">
<h3>12.0.8.5.20 (2020-08-31)</h3>
<ul>
<li>[FIX] corretto XML ID del parent menu della voce Mastrini</li>
</ul>
</p><p align="justify">
</p><p align="justify">
<h3>12.0.8.5.19 (2020-08-28)</h3>
<ul>
<li>[IMP] AXI-6/AXI-28: Migliorata visualizzazione contropartite e controvalori</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.7.4.18 (2020-08-28)</h3>
<ul>
<li>[REF] AXI-109: Refactoring menu</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.7.4.17 (2020-08-26)</h3>
<ul>
<li>[IMP] AXI-6/AXI-28: Aggiunta visualizzazione contropartite e controvalori</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.6.3.16 (2020-08-20)</h3>
<ul>
<li>[IMP] AXI-117: Visualizzazione nome breve del registro invece del nome completo</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.5.3.15 (2020-08-20)</h3>
<ul>
<li>[IMP] AXI-126: Aggiunta visualizzazione stato delle registrazioni e relativo filtro</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.4.2.15 (2020-08-19)</h3>
<ul>
<li>[IMP] AXI-121: nascosti i pulsanti salva / abbandona</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.4.2.14 (2020-08-17)</h3>
<ul>
<li>[IMP] AXI-125: aggiunta colonna con tipo registrazione nella visualizzazione mastrini</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.3.2.13 (2020-08-07)</h3>
<ul>
<li>[IMP] aggiornamento della documentazione / history</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.3.2.12 (2020-08-06)</h3>
<ul>
<li>[IMP] aggiunta gestione segni in riepilogo IVA</li>
<li>[IMP] AXI-6/AXI-31: Riepilogo IVA, prima implementazione funzionante</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.2.1.11 (2020-07-27)</h3>
<ul>
<li>[IMP] AXI-6/AXI-29: Colonne con date competenze ratei e risconti e controllo per visualizzarle e nasconderle</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.1.1.10 (2020-07-24)</h3>
<ul>
<li>[IMP] AXI-6/AXI-81: Etichette in Italiano e righe totali in grassetto</li>
<li>[IMP] AXI-6/AXI-81: Righe totali in grassetto</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.2.9 (2020-07-24)</h3>
<ul>
<li>[FIX] AXI-6/AXI-81: inseriti nomi dei campi in Italiano</li>
<li>[MOD] rimosso file superfluo</li>
<li>[MOD] aggiornato numero versione</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.1.9 (2020-07-24)</h3>
<ul>
<li>[FIX] name overlapping</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.0.8 (2020-07-23)</h3>
<ul>
<li>[IMP] AXI-6/AXI-77: selezione date tramite intervalli (date_range)</li>
<li>[MOD] AXI-6/AXI-78 + AXI-6/AXI-79: rimossi campi superflui dai wrapper, rimossa</li>
</ul>
eliminazione righe vecchie (fa Odoo da solo), rimossa associazione righe con wizard (non &#232; necessaria)
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.0.7 (2020-07-22)</h3>
<ul>
<li>[MOD] AXI-6/AXI-78 + AXI-6/AXI-79: completata implementazione totali in tabella</li>
<li>[MOD] AXI-6/AXI-78 + AXI-6/AXI-79: prima implementazione totali in tabella</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.0.6 (2020-07-21)</h3>
<ul>
<li>[FIX] corretto errore nella funzione di ricerca anni fiscali all'interno del wizard dei mastrini</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.0.5 (2020-07-20)</h3>
<ul>
<li>[IMP] AXI-6/AXI-81 Cambiare colonne visualizzate - Completato</li>
<li>[IMP] AXI-6/AXI-82 Scelta partner per conti di debito o credito</li>
</ul>
</p><p align="justify">
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.0.3 (2020-07-17)</h3>
<ul>
<li>[IMP] AXI-6/AXI-78 Saldi iniziali: miglioramento parte grafica - AXI-6/AXI-79 Saldi finali: miglioramento parte grafica - AXI-6/AXI-75 Proporre automaticamente esercizio contabile attuale</li>
<li>[IMP] AXI-6/AXI-78 Saldi iniziali - AXI-6/AXI-79 Saldi finali - Implementato algoritmo di calcolo e bozza parte grafica</li>
<li>[IMP] aggiornato numero di versione - aggiunta history, autori, ecc.</li>
<li>[IMP] AXI-6/AXI-74 filtro per esercizio contabile - AXI-6/AXI-80 filtri su unica riga</li>
</ul>
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.0.2 (2020-07-09)</h3>
</p><p align="justify">
<ul>
<li>[FIX] corretto posizionamento saldo girnaliero</li>
<li>[MOD] rimosso pulsante inutile dalla visualizzazione mastrini</li>
<li>[FIX] eliminato problema del saldo giornaliero che scompariva quando le account.move.line venivano ricaricate</li>
</ul>
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.0.1 (2020-07-08)</h3>
</p><p align="justify">
<ul>
<li>[IMP] inseriti pulsanti apertura form di modifica, inseriti totali giornalieri totali per righe visualizzate, nascosti gli zero</li>
</ul>
</p><p align="justify">
</p><p align="justify">
<h3>12.0.0.0.0 (2020-07-07)</h3>
</p><p align="justify">
<ul>
<li>[IMP] prima implementazionezione funzionante</li>
</ul>
</p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator"/>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Authors / Autori:</p>
            <p class="oe_mt16"><ul>
<li><a href="https://www.axitec.it/">Axitec s.r.l.</a></li>
<li><a href="https://www.zeroincombenze.it/">SHS-AV s.r.l.</a></li>
<li><a href="http://www.didotech.com/">Didotech srl</a></li>
</ul></p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Contributors / Collaboratori:</p>
            <p class="oe_mt16"><ul>
<li>Marco Tosato &lt;marco.tosato@didotech.com&gt;</li>
<li>Alessandro Bobbo &lt;bobbo@tecnosoft.it&gt;</li>
<li>Anderi Levin &lt;andrei.levin@didotech.com&gt;</li>
</ul></p>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Maintainer:</p>
            <p class="oe_mt16">This module is maintained by the <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> is the Italian Enterprises Network born in 2020, whose mission is promote use of Odoo to cover Italian enhanced accounting.</p>
        </div>
        <div class="oe_span6" align="left">
            <p class="oe_mt16">Manutenzione:</p>
            <p class="oe_mt16">Questo modulo &#232; aggiornato da <b>Powerp</b>.</p>
            <p class="oe_mt16" align="justify"><a href="http://www.powerp.it/">Powerp</a> &#232; una rete di imprese, nata nel 2020 che rilascia moduli per la contabilit&#224; italiana evoluta.</p>
        </div>
        <div class="oe_span12">
            <p class="oe_mt16">Founders are / I soci fondatori sono:</p>
            <ul>
                <li><a href="http://www.didotech.com/">Didotech s.r.l.</a></li>
                <li><a href="https://www.shs-av.com/">SHS-AV s.r.l.</a></li>
                <li><a href="http://x-plain.it/">Xplain s.r.l.</a></li>
            </ul>
        </div>
    </div>
    <div class="oe_row oe_spaced">
        <p>This module is part of accounting project.</p>
    </div>
</section>
